/* about.css */
.aboutText {
  padding-top: 15px;
  padding-left: 15%;
  padding-right: 15%;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 22px;
}

.aboutTitle {
  padding-top: 15px;
  padding-left: 15%;
  padding-right: 15%;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 40px;
}
