/* content.css */
.text {
  padding: 50px;
  font-family: 'Roboto';
  font-weight: 500;
}

.posts {
  padding-top: 15px;
  padding-left: 12%;
  padding-right: 12%;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
}

.blogtitle {
  padding-top: 15px;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 40px;
}
