/* content.css */
.text {
  padding: 50px;
  font-family: "Roboto";
  font-weight: 500;
}

.posts {
  padding-top: 15px;
  padding-left: 15%;
  padding-right: 15%;
  font-family: "Roboto";
  font-weight: 500;
}

.blogtitle {
  padding-top: 15px;
  padding-left: 15%;
  padding-right: 15%;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 50px;
}
