/* heading.css */
.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 15px;
  background: #001e46;
  font-family: "Inconsolata";
}

.flexbox {
  display: flex;
  flex-direction: row;
}

.item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.robot {
  height: 90px;
  width: 90px;
  padding-right: 30px;
}

.button {
  font-weight: 500;
  padding: 15px;
  font-size: 30px;
  color: white;
  text-align: center;
}

.title {
  font-weight: 900;
  padding: 15px;
  font-size: 40px;
  color: orange;
  text-align: center;
  margin-left: auto;
  align-self: center;
}

.links {
  white-space: nowrap;
  overflow: hidden;
  border: 5px solid orange;
  font-size: 30px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  align-self: center;
}

.links:hover {
  background: #001ea6;
}

a {
  text-decoration: none;
  color: orange;
}
